# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Exercise1/.vs/
Exercise1/Simulations/Win32/
Exercise1/SimulationsRunner/Debug/
Exercise1/SimulatorTester/Win32/
Exercise1/Win32/
/.vs
/Exercise4/.vs/Template_2017/v16
/Exercise4/Simulations/Win32/Debug
/Exercise4/SimulationsRunner/Debug
/Exercise4/Win32/Debug
