# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Exercise1/.vs/
Exercise1/Simulations/Demo_2017.vcxproj.user
Exercise1/Simulations/Win32/Debug/Demo_2017.log
Exercise1/Simulations/Win32/Debug/Demo_2017.vcxproj.FileListAbsolute.txt
Exercise1/Simulations/Win32/Debug/Simulations.Build.CppClean.log
Exercise1/Simulations/Win32/Debug/Simulations.idb
Exercise1/Simulations/Win32/Debug/Simulations.pdb
Exercise1/Simulations/Win32/Debug/Simulations.tlog/CL.command.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/CL.read.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/CL.write.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/fxc.command.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/fxc.read.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/fxc.write.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/Lib.command.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/Lib-link.read.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/Lib-link.write.1.tlog
Exercise1/Simulations/Win32/Debug/Simulations.tlog/Simulations.lastbuildstate
Exercise1/SimulationsRunner/SimulationsRunner_2017.vcxproj.user
Exercise1/SimulationsRunner/Debug/SimulationsRunner_2017.Build.CppClean.log
Exercise1/SimulationsRunner/Debug/SimulationsRunner_2017.log
Exercise1/SimulationsRunner/Debug/SimulationsRunner_2017.vcxproj.FileListAbsolute.txt
Exercise1/SimulationsRunner/Debug/vc142.idb
Exercise1/SimulationsRunner/Debug/vc142.pdb
Exercise1/SimulationsRunner/Debug/Simulati.0B7BAA5B.tlog/CL.command.1.tlog
Exercise1/SimulationsRunner/Debug/Simulati.0B7BAA5B.tlog/CL.read.1.tlog
Exercise1/SimulationsRunner/Debug/Simulati.0B7BAA5B.tlog/CL.write.1.tlog
Exercise1/SimulationsRunner/Debug/Simulati.0B7BAA5B.tlog/link.command.1.tlog
Exercise1/SimulationsRunner/Debug/Simulati.0B7BAA5B.tlog/link.read.1.tlog
Exercise1/SimulationsRunner/Debug/Simulati.0B7BAA5B.tlog/link.write.1.tlog
Exercise1/SimulationsRunner/Debug/Simulati.0B7BAA5B.tlog/SimulationsRunner_2017.lastbuildstate
Exercise1/SimulatorTester/SimulatorTester_2017.vcxproj.user
Exercise1/SimulatorTester/Win32/Debug/SimulationsTester.Build.CppClean.log
Exercise1/SimulatorTester/Win32/Debug/SimulatorTester_2017.log
Exercise1/SimulatorTester/Win32/Debug/SimulatorTester_2017.vcxproj.FileListAbsolute.txt
Exercise1/SimulatorTester/Win32/Debug/SimulatorTester_2017.vcxprojAssemblyReference.cache
Exercise1/SimulatorTester/Win32/Debug/vc142.idb
Exercise1/SimulatorTester/Win32/Debug/vc142.pdb
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/CL.command.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/CL.read.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/CL.write.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/link.command.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/link.read.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/link.write.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/link-cvtres.read.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/link-cvtres.write.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/link-rc.read.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/link-rc.write.1.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/SimulationsTester.lastbuildstate
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/SimulationsTester.write.1u.tlog
Exercise1/SimulatorTester/Win32/Debug/Simulati.13342092.tlog/unsuccessfulbuild
Exercise1/Win32/Debug/effect.fxo
Exercise1/Win32/Debug/Simulations.pdb
Exercise1/Win32/Debug/SimulationsRunner_2017.ilk
Exercise1/Win32/Debug/SimulationsRunner_2017.pdb
Exercise1/Win32/Debug/SimulationsTester.exp
Exercise1/Win32/Debug/SimulationsTester.pdb
